<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/OWNER/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="prachwal" />
            <add key="ClearTextPassword" value="e15385e57c289b12a48b9b7d735dd891cf515814" />
        </github>
    </packageSourceCredentials>
</configuration>
