name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
    - name: Publish
      run: dotnet publish --no-restore -p:PublishProfile=BarakudaBlazorApp/Properties/PublishProfiles/FolderProfile.pubxml 
    - name: Pack
      run: dotnet pack --configuration Release --version-suffix action-testing -o "./packages"
    - name: Publish
      env: 
        NUGET_AUTH_TOKEN: ${{secrets.NUGET_AUTH_TOKEN}}
      run: dotnet nuget push -s https://www.nuget.org/api/v2/package -k $NUGET_AUTH_TOKEN packages/*.nupkg --skip-duplicate
    - uses: actions/upload-artifact@v4
      with:
        name: BarakudaBlazorApp
        path: BarakudaBlazorApp/bin/Debug/netcoreapp3.1/linux-x64/publish/

    - name: Download artifact
      uses: actions/download-artifact@v4.1.4
      with:
        # Artifact name
        name: BarakudaBlazorApp
        # Destination path
        path: BarakudaBlazorApp.zip
        
    - name: Copy single file to remote
      uses: garygrossgarten/github-action-scp@release
      with:
        local: BarakudaBlazorApp.zip
        remote: app/
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
